<h1>Create Post</h1>
<div>
    <form action="/" method="post">
        <div><input placeholder="title" type="text" name="title"></div>
        <div><input placeholder="director 1" type="text" name="director[0]"></div>
        <div><input placeholder="director 2" type="text" name="director[1]"></div>
        <div><input placeholder="featured" type="checkbox" name="featured">Featured?</div>
        <div><input placeholder="actor 1" type="text" name="actorsList[0]"></div>
        <div><input placeholder="actor 2" type="text" name="actorsList[1]"></div>
        <div><input placeholder="description" type="text" name="description"></div>
        <div><input placeholder="genre 1" type="text" name="genre[0]"></div>
        <div><input placeholder="genre 2" type="text" name="genre[1]"></div>
        <div><input placeholder="poster" type="text" name="poster"></div>
    <button>New Movie</button>
    </form>
</div>